
.navbar{
    margin-left: 60px;
}
.navbar-wrapper{
    background-color: #23282D;
    padding-bottom: 20px;
    padding-top: 30px;


}
.navbar-brand{
    color: #D7DADE;
    margin-left: 10px;
}
.nav-item{
    margin:auto 10px;
}
.nav-link{
    color:  #EEEEEE;

}
.logo-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.search-div{ 
    background-color: #0073aa;
    text-align: center;
    padding: 20px 0px;
}
.search-div h1{ 
    padding: 10px;
    margin-bottom: 30px;
    font-size: 4rem;
    color: #FFF;
    text-align: center;
}
.search-form div{
    display: inline;
    margin-left: 55px;
}
.search-label{
    color: #FFF;
    width: 50px;
}
.search-field{
    color: #000000;
    width: 250px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button-search{
    width: 120px;
    display: block;
    margin: 30px auto;
    padding: 10px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-color: green;
    border-radius: 50px;
}
  
.button-search:hover {
    background-color: #008CBA;
    color: white;
    background-color: greenyellow;
}
.search-results{
    background-color: floralwhite;
    text-align: center;
    min-height: 200px;
}
.result-item{
    background-color: #F9F9F9;
}